<h2 class="text-center m-3">Neuen Medikamentenplan hinzufügen</h2>
<form (ngSubmit)="onSubmit()">
  <div class="container box p-4">
    <form>
      <div class="mb-3">
        <label for="medication" class="form-label">Medikament:</label>
        <input id="medication" [(ngModel)]="medicationPlan.medication" name="medication" class="form-control" required>
      </div>
  
      <div class="mb-3">
        <label for="dosage" class="form-label">Dosierung:</label>
        <input id="dosage" [(ngModel)]="medicationPlan.dosage" name="dosage" class="form-control" required>
      </div>
  
      <div class="mb-3">
        <label for="frequency" class="form-label">Häufigkeit:</label>
        <input id="frequency" [(ngModel)]="medicationPlan.frequency" name="frequency" class="form-control" required>
      </div>
  
      <button type="submit" class="btn btn-primary w-100">Medikamentenplan hinzufügen</button>
    </form>
  </div>
</form>